
@media screen and (max-width: 944px)
    .info__items
        flex-direction: column-reverse
    .info__item
        flex: 1 1 auto
    .item__revers
        flex-direction: column


@media screen and (max-width: 768px)
    .parallax-content
        h1
            font-size: 42px
    .title__buton
        flex-direction: column
    .info__items
        h2
            font-size: 36px
            line-height: 47px



@media screen and (min-width: 768px) and (max-width: 1024px)




@media screen and (min-width: 1024px)