@import './blocks/*.sass'


//-------------------
html 
    scroll-behavior: smooth
a
    color: $color-black
    text-decoration: none



._container
    max-width: 1100px
    padding: 0 15px
    margin: 0 auto

//---------------------

.header
    padding: 23px 0 0 0
    position: relative
    @media screen and (max-width: 768px)
        padding: 0
.wrapper
    max-width: 1280px
    margin: 0 auto
    overflow: hidden

.parallax 
    height: 100vh
    overflow-x: hidden
    overflow-y: hidden
    margin-top: -47px



.parallax-bg 
    position: relative
    height: 100vh
    background-image: url('./../img/back.jpg')
    background-attachment: fixed
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    z-index: -1


.parallax-content 
    position: absolute
    bottom: 116px
    z-index: 1
    max-width: 838px
    padding: 0 15px 0 0
    h1
        color: $color-E4D8CC
        font-size: 57px
        line-height: 60.48px
        margin-bottom: 14px
    p
        color: $color-C3BAB1
        font-size: 18px
        line-height: 28px
        margin-bottom: 48px


//--------------------
.nav
    display: flex
    justify-content: space-between
    @media screen and (max-width: 768px)
        display: none
.nav__list 
    display: flex
    gap: 32px

    
.nav__link 
    text-transform: uppercase
    color: $color-E4D8CC
    font-size: 11px
    line-height: 24px
    letter-spacing: 1.5px
    transition: opacity .2s ease
    &:hover
        opacity: .5

.title__buton
    display: flex
    gap: 16px

.title__btn_wrap
    padding: 14px 34px
    border-radius: 100px
    background: rgba(228, 216, 204, 0.50)
    color: $color-white
    font-size: 16px
    line-height: 24px
    cursor: pointer
    transition: background .3s ease
    &:hover
        background: rgba(228, 216, 204, 0.2)
    &.active
        border: 2px solid #7837F3
        background: #7837F3
        
        &:hover
            background: rgba(120, 55, 243, .7)


//---------------------------------------

.info__block
    background-color: $color-bg
.info__items
    display: flex
    gap: 15px
    justify-content: space-between
    align-items: center
    padding: 76px 0 75px 0

.info__item
    max-width: 507px
    margin-top: auto
    flex: 1 1 450px
    margin: 0 auto
    h2
        color: $color-101010
        font-size: 54px
        line-height: 58px
        margin-bottom: 15px
    p
        color: $color-101010
        line-height: 22px
    img
        width: 100%


.img_border
    img
        max-width: 100%
        border-radius: 12px
.item__list
    h2
        color: $color-101010
        font-size: 35px
        line-height: 45.632px
        letter-spacing: 1px
        margin-bottom: 11px
    p
        color: $color-101010
        font-size: 14px
        line-height: 22.08px

.item__list_number
    display: flex
    align-items: center
    margin-bottom: 18px
    gap: 12px
    span
        padding: 25px 29px
        border-radius: 100px
        background: #B99FEA
        color: $color-101010
        text-align: center
        font-size: 38px
        line-height: 24px
    p
        color: $color-101010
        font-size: 19px
        line-height: 36px

.item__link
    max-width: 95px
    border-bottom: 2px solid $color-101010
    margin-bottom: 45px
    transition: opacity .3s ease
    &:hover
        border-bottom: 2px solid $color-101010
        opacity: .4
    a
        display: flex
        align-items: center
        justify-content: space-between
        color: $color-101010
        font-size: 12px
        line-height: 30px
        letter-spacing: 2px
        &::after
            content: url('./../img/arrow_down.svg')
            display: inline-block
            height: 25px
            transition: transform .3s ease
            animation: scaleAnimation .5s infinite alternate

@keyframes scaleAnimation 
    0% 
        transform: translateY()

    100%
        transform: translateY(5px)


.border_line
    border-top: 1px solid $color-black


//--------------------------------------------

.reviews__block 
    margin: 116px 0 112px 0
    padding: 0 15px
    gap: 50px
    flex-wrap: wrap
    display: flex
    justify-content: space-between
.reviews__item
    display: flex
    flex-direction: column
    align-items: center
    flex: 1 1 auto
    >p
        color: $color-E4D8CC
        font-size: 24px
        line-height: 32px
    >img
        margin-bottom: 48px

.reviews__user
    display: flex
    align-items: center
    gap: 29px
    margin-top: 61px

.user_block 
    >p
        color: $color-E4D8CC
        font-size: 14px
        line-height: 24px

//----------------------------------
.questions_block
    background-color: $color-101010
    padding: 118px 0 0 0 
.questions_title
    h2
        color: $color-E4D8CC
        font-size: 36px
        line-height: 45.632px
        letter-spacing: 1px
        margin: 0 0 45px 0

.questions__main
    display: flex
    gap: 25px
    justify-content: space-between
    align-items: center


.questions__list
    display: flex
    flex-direction: column
    gap: 52px


.questions__link
    color: $color-B99FEA
    font-size: 20px
    line-height: 28px
    transition: opacity .3s ease
    &:hover
        opacity: .4


//------------------------------------------
.parallax-container
    position: relative
    overflow: hidden

.about__us__block
    background-image: url('./../img/back_about.jpg')
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    padding: 67px 0 98px 0 

    background-attachment: fixed
    height: 100%
    p
        color: $color-C3BAB1
        font-size: 15px
        line-height: 16px
        margin-bottom: 24px
    h2
        color: $color-bg
        font-size: 48px
        line-height: 54px
        margin-bottom: 24px
        max-width: 666px
.about__us__link
    max-width: 271px
    border-bottom: 1px solid $color-E4D8CC
    padding: 0 0 14px 0
    a
        display: flex
        justify-content: space-between
        color: $color-E4D8CC
        font-size: 12px
        line-height: 20px
        letter-spacing: 2px
        text-transform: uppercase
        transition: opacity .3s ease
        &::after
            content: '→'
            display: inline-block
            width: 20px
            height: 20px
            animation: arrowLink .5s infinite alternate
        &:hover
            opacity: .6

@keyframes arrowLink 
    0% 
        transform: translateX()

    100%
        transform: translateX(5px)

.questions_img
    display: flex
    width: 500px
    margin-bottom: 71px
    img
        width: 100%


//-------------------------------------

.bonus__block
    background-color: $color-101010
    padding: 78px 0 125px 0 
.bonus__items
    display: flex
    flex-wrap: wrap
    gap: 42px
.bonus__item
    p
        color: $color-E4D8CC
        font-size: 23px
        line-height: 24px
        margin-bottom: 19px
    button
        color: #FFFAF5
        text-align: center
        line-height: 24px
        padding: 9px 32px
        cursor: pointer
        border-radius: 100px
        border: 1px solid $color-E4D8CC
        transition: background .3s ease
        &:hover
            background: rgba(228, 216, 204, 0.2)
    .active
        border-radius: 100px
        border: 1px solid #7837F3
        background: #7837F3
        &:hover
            background: rgba(120, 55, 243, .7)


//----------------------------------------

.bonus__nav_wrap
    display: flex
    justify-content: space-between
    align-items: flex-end
    margin-top: 90px

.bonus__nav
    display: flex
    justify-content: space-between
    width: 100%
    gap: 50px
    @media screen and (max-width: 580px)
        flex-direction: column
.bonus__list
    display: flex
    flex-direction: column
    gap: 47px
    >p
        color: $color-E4D8CC
        display: inline-block
        font-size: 20px
        line-height: 16px
        border-bottom: 1px solid $color-E4D8CC
        padding: 0 0 10px 0
.bonus__item

.bonus__link
    color: $color-E4D8CC
    line-height: 0.16px
    transition: opacity .3s ease
    &:hover
        opacity: .4
.bonus__info
    >p
        color: $color-E4D8CC
        text-align: right
        font-size: 14px
        line-height: 28px
        margin-top: 47px



@import './_footer'
@import './_media'